.float_right {
    float: right;
    padding-left: 2em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

h1 { font: bold 250% sans-serif; margin-top: 2em; }
h2 { font: bold 150% sans-serif; margin-top: 2em; }
h3, h4, h5, h6 { font: bold 100% sans-serif }
body {
    font-family: serif;
}
pre, code {
    font-family: "Inconsolata", "Courier", monospace;
}


/* code formatting */
pre.hl {
    background: #ddd;
}

/* outlines; this overrides style.css */
li.L1 { list-style: decimal; }
li.L2 { list-style: decimal; }
li.L3 { list-style: decimal; }
li.L4 { list-style: decimal; }
li.L5 { list-style: decimal; }
li.L6 { list-style: decimal; }
li.L7 { list-style: decimal; }
li.L8 { list-style: decimal; }


/* make list of news items look like a list */

.newslist p {
    display: list-item;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.newslist p:empty {
    display: none;
}



/* For the ikiwiki pandoc plugin: source code highlighting */
/* From: https://github.com/sciunto-org/ikiwiki-pandoc */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
      margin: 0; padding: 0; vertical-align: baseline; border: none; }
      table.sourceCode { width: 100%; line-height: 100%; }
      td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
      td.sourceCode { padding-left: 5px; }
      code > span.kw { color: #007020; font-weight: bold; }
      code > span.dt { color: #902000; }
      code > span.dv { color: #40a070; }
      code > span.bn { color: #40a070; }
      code > span.fl { color: #40a070; }
      code > span.ch { color: #4070a0; }
      code > span.st { color: #4070a0; }
      code > span.co { color: #60a0b0; font-style: italic; }
      code > span.ot { color: #007020; }
      code > span.al { color: #ff0000; font-weight: bold; }
      code > span.fu { color: #06287e; }
      code > span.er { color: #ff0000; font-weight: bold; }
